input.form-control {
    margin-left: 20px;
    width: calc(100% - 40px);
}

.form-control:focus {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

li.selected, li:hover {
    background-color: #f5f5f5;
}

li.borderless {
    border-left: none;
    border-right: none;
}

ul.list-group li.list-group-item {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}

ul {
    margin-top: 10px;
}

h3 {
    margin-left: 30px;
}

.left {
    padding-left: 0;
    padding-right: 0;
    border-right: solid 1px #ddd;
    min-height: 100vh;
}

.right {
    min-height: 100vh;
}

.placeholder {
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    font-size: 36px;
    color: #d3d3d3;
}
