@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

.body-content {
    padding-left: 0;
    padding-right: 0;
}

body,
.container-fluid,
.row,
.body-content,
.ul {
    min-height: 100vh;
}
