h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

:host {
    display: block;
    height: 100vh;
}

textarea {
    height: 90%;
    width: 100%;
    overflow: hidden;
    resize: none;
    margin-top: 10px;
}