<div class="header">
    <my-date-picker [options]="myDatePickerOptions" *ngIf="!task.isDeleted"
               (dateChanged)="onDateChanged($event)"></my-date-picker>
</div>
<div class="content">
    <h3>{{ task.title }}</h3>

    <textarea name="text" [(ngModel)]="task.text" (blur)="textChanged()" placeholder="Add description"></textarea>
</div>
<div class="footer">
    <ul class="nav navbar-nav">
        <li><a><span class='glyphicon glyphicon-inbox'></span></a></li>
        <li><a (click)="removeTask()"><span class='glyphicon glyphicon-trash'></span></a></li>
        <li><a><span class='glyphicon glyphicon-cog'></span></a></li>
    </ul>
</div>