.checkbox {
    margin-left: 35px;
}

button {
    float: right;
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
    background-color: transparent;
}

.task-title-input {
    padding-left: 5px;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: transparent;
    border: none;
}
